.container {
  width: 25%;
  height: 600px;
  background-color: darkred;
  border: 3px #131a1a solid;
  margin: 0 auto;
  border-radius: 5px;
}

.logo-container {
  width: 100%;
  height: 15%;
  margin: 0 auto;
}

.logo {
  width: 25%;
  padding: 2rem 1.8rem 1rem;
}

.display {
  width: 85%;
  height: 4.5rem;
  background-color: #131a1a;
  margin: 0 auto;
  border-radius: 40px;
}